<mat-list>
    <mat-list-item routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
    </mat-list-item>
    <mat-list-item routerLink="/registro" *ngIf="!isLogin">
        <mat-icon mat-list-icon >account_circle</mat-icon>
        <div mat-line>Registro</div>
    </mat-list-item>
    
    <mat-list-item  routerLink="/login" *ngIf="!isLogin">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>Login</div>
    </mat-list-item>
    <mat-list-item (click)="logOut()"  *ngIf="isLogin">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>Salir</div>
    </mat-list-item>
</mat-list>